<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>


	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="LOGFILE" />
	</appender>

	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param value="'.'yyyy-MM-dd" name="DatePattern" />
		<param value="true" name="Append" />
		<param value="gelog.log" name="File" />
		<param value="info" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %-5p %c - %m%n" name="ConversionPattern" />
		</layout>
	</appender>

	
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="LOGFILE" />
	</root>
</log4j:configuration>